<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
<!-- <script src="base64.js"></script> -->
<style>
  .wrapper {
  position: relative;
  width: 400px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
  img {
  position: absolute;
  left: 0;
  top: 0;
  }

  .signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:400px;
  height:200px;
  }
</style>
<h1>
  Sign your name below to agree to waiver
</h1>
Sign here x--<div class="wrapper">
  <!-- <img src="http://www.licensing.biz/cimages/c0f1a3a97bc0de97271f9813f7715bb3.png" width=400 height=200 /> -->
  <canvas id="signature-pad" class="signature-pad" width=400 height=200></canvas>
</div>
<div>
  <button id="save">Save</button>
  <button id="clear">Clear</button>
</div>
