<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<title>FAQ</title>
  <style>
    *, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *::after, *::before {
    content: '';
  }

  body {
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    color: #4e5359;
    background-color: #f3f3f5;
  }
  body::after {
    /* overlay layer visible on small devices when the right panel slides in */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 83, 89, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }
  body.cd-overlay::after {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }

	#myNavbar {
		
	}
  @media only screen and (min-width: 768px) {
    body::after {
      display: none;
    }
  }

  a {
    color: #0A5CAD;
    text-decoration: none;
  }

  /* --------------------------------

  Main components

  -------------------------------- */
  header {
    position: relative;
    height: 180px;
    line-height: 180px;
    text-align: center;
    background-color: #0A5CAD;
  }
  header h1 {
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    font-size: 1.25rem;
  }
  @media only screen and (min-width: 1024px) {
    header {
      height: 240px;
      line-height: 240px;
    }
    header h1 {
      font-size: 36px;
      font-size: 2.25rem;
      font-weight: 300;
    }
  }

  .cd-faq {
    width: 90%;
    max-width: 1024px;
    margin: 2em auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  .cd-faq:after {
    content: "";
    display: table;
    clear: both;
  }
  @media only screen and (min-width: 768px) {
    .cd-faq {
      position: relative;
      margin: 4em auto;
      box-shadow: none;
    }
  }

  .cd-faq-categories a {
    position: relative;
    display: block;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    padding: 0 28px 0 16px;
    background-color: #4e5359;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    white-space: nowrap;
    border-bottom: 1px solid #555b61;
    text-overflow: ellipsis;
  }
  .cd-faq-categories a::before, .cd-faq-categories a::after {
    /* plus icon on the right */
    position: absolute;
    top: 50%;
    right: 16px;
    display: inline-block;
    height: 1px;
    width: 10px;
    background-color: #7f868e;
  }
  .cd-faq-categories a::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .cd-faq-categories li:last-child a {
    border-bottom: none;
  }
  @media only screen and (min-width: 768px) {
    .cd-faq-categories {
      width: 20%;
      float: left;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    }
    .cd-faq-categories a {
      font-size: 13px;
      font-size: 0.8125rem;
      font-weight: 600;
      padding-left: 24px;
      padding: 0 24px;
      -webkit-transition: background 0.2s, padding 0.2s;
      -moz-transition: background 0.2s, padding 0.2s;
      transition: background 0.2s, padding 0.2s;
    }
    .cd-faq-categories a::before, .cd-faq-categories a::after {
      display: none;
    }
    .no-touch .cd-faq-categories a:hover {
      background: #555b61;
    }
    .no-js .cd-faq-categories {
      width: 100%;
      margin-bottom: 2em;
    }
  }
  @media only screen and (min-width: 1024px) {
    .cd-faq-categories {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      z-index: 2;
    }
    .cd-faq-categories a::before {
      /* decorative rectangle on the left visible for the selected item */
      display: block;
      top: 0;
      right: auto;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: #a9c056;
      opacity: 0;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      transition: opacity 0.2s;
    }
    .cd-faq-categories .selected {
      background: #42464b !important;
    }
    .cd-faq-categories .selected::before {
      opacity: 1;
    }
    .cd-faq-categories.is-fixed {
      /* top and left value assigned in jQuery */
      position: fixed;
    }
    .no-js .cd-faq-categories {
      position: relative;
    }
  }

  .cd-faq-items {
    position: fixed;
    height: 100%;
    width: 90%;
    top: 0;
    right: 0;
    background: #ffffff;
    padding: 0 5% 1em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) translateX(100%);
    -moz-transform: translateZ(0) translateX(100%);
    -ms-transform: translateZ(0) translateX(100%);
    -o-transform: translateZ(0) translateX(100%);
    transform: translateZ(0) translateX(100%);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
  }
  .cd-faq-items.slide-in {
    -webkit-transform: translateZ(0) translateX(0%);
    -moz-transform: translateZ(0) translateX(0%);
    -ms-transform: translateZ(0) translateX(0%);
    -o-transform: translateZ(0) translateX(0%);
    transform: translateZ(0) translateX(0%);
  }
  .no-js .cd-faq-items {
    position: static;
    height: auto;
    width: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  @media only screen and (min-width: 768px) {
    .cd-faq-items {
      position: static;
      height: auto;
      width: 78%;
      float: right;
      overflow: visible;
      -webkit-transform: translateZ(0) translateX(0);
      -moz-transform: translateZ(0) translateX(0);
      -ms-transform: translateZ(0) translateX(0);
      -o-transform: translateZ(0) translateX(0);
      transform: translateZ(0) translateX(0);
      padding: 0;
      background: transparent;
    }
  }
  @media only screen and (min-width: 1024px) {
    .cd-faq-items {
      float: none;
      width: 100%;
      padding-left: 220px;
    }
    .no-js .cd-faq-items {
      padding-left: 0;
    }
  }

  .cd-close-panel {
    position: fixed;
    top: 5px;
    right: -100%;
    display: block;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 2;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: right 0.4s;
    -moz-transition: right 0.4s;
    transition: right 0.4s;
  }
  .cd-close-panel::before, .cd-close-panel::after {
    /* close icon in CSS */
    position: absolute;
    top: 16px;
    left: 12px;
    display: inline-block;
    height: 3px;
    width: 18px;
    background: #6c7d8e;
  }
  .cd-close-panel::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .cd-close-panel::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .cd-close-panel.move-left {
    right: 2%;
  }
  @media only screen and (min-width: 768px) {
    .cd-close-panel {
      display: none;
    }
  }

  .cd-faq-group {
    /* hide group not selected */
    display: none;
  }
  .cd-faq-group.selected {
    display: block;
  }
  .cd-faq-group .cd-faq-title {
    background: transparent;
    box-shadow: none;
    margin: 1em 0;
  }
  .no-touch .cd-faq-group .cd-faq-title:hover {
    box-shadow: none;
  }
  .cd-faq-group .cd-faq-title h2 {
    text-transform: uppercase;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 700;
    color: #bbbbc7;
  }
  .no-js .cd-faq-group {
    display: block;
  }
  @media only screen and (min-width: 768px) {
    .cd-faq-group {
      /* all groups visible */
      display: block;
    }
    .cd-faq-group > li {
      background: #ffffff;
      margin-bottom: 6px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
      -webkit-transition: box-shadow 0.2s;
      -moz-transition: box-shadow 0.2s;
      transition: box-shadow 0.2s;
    }
    .no-touch .cd-faq-group > li:hover {
      box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
    }
    .cd-faq-group .cd-faq-title {
      margin: 2em 0 1em;
    }
    .cd-faq-group:first-child .cd-faq-title {
      margin-top: 0;
    }
  }

  .cd-faq-trigger {
    position: relative;
    display: block;
    margin: 1.6em 0 .4em;
    line-height: 1.2;
  }
  @media only screen and (min-width: 768px) {
    .cd-faq-trigger {
      font-size: 24px;
      font-size: 1.5rem;
      font-weight: 300;
      margin: 0;
      padding: 24px 72px 24px 24px;
    }
    .cd-faq-trigger::before, .cd-faq-trigger::after {
      /* arrow icon on the right */
      position: absolute;
      right: 24px;
      top: 50%;
      height: 2px;
      width: 13px;
      background: #cfdca0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      transition-property: transform;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      transition-duration: 0.2s;
    }
    .cd-faq-trigger::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      right: 32px;
    }
    .cd-faq-trigger::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    .content-visible .cd-faq-trigger::before {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    .content-visible .cd-faq-trigger::after {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .cd-faq-content p {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    color: #6c7d8e;
  }
  @media only screen and (min-width: 768px) {
    .cd-faq-content {
      display: none;
      padding: 0 24px 30px;
    }
    .cd-faq-content p {
      line-height: 1.6;
    }
    .no-js .cd-faq-content {
      display: block;
    }
  }
</style>
</head>
<body>
<header>
	<h1>Portal FAQs</h1>
</header>
<div class="w3-top navBar">
  <div class="w3-bar" id="myNavbar">
    <!-- <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a> -->
    <a href="/" class="w3-bar-item w3-button">HOME</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">

  </div>
</div>
<section class="cd-faq">

	<div class="cd-faq-items">
		<!-- <ul id="basics" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Basics</h2></li> -->
		<ul class="cd-faq-group">
			<li>
				<a class="cd-faq-trigger" href="#0">Can I take my phone into the room?</a>
				<div class="cd-faq-content">
					<p class="">We don’t allow any electronics inside the escape rooms. This allows you and your teammates to immerse yourselves into the experience without distractions. Furthermore electronics are not allowed to avoid conflict with our electronic puzzles.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Is there an age requirement?</a>
				<div class="cd-faq-content">
					<p class="">We’ve designed our rooms to be fun for all ages. However, the puzzles can be quite sophisticated, so a spectrum of ages may be helpful.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Can I have more than 8 people in a room?</a>
				<div class="cd-faq-content">
					<p class="">We recommend at least 4-8 players for a room. Contact us at info@portalescape.net or call us at to arrange customized events such as teambuilding.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Will I be partnered with people I don’t know in my escape room?</a>
				<div class="cd-faq-content">
					<p class="">We offer the ability to reserve a room in its entirety so that you can experience a puzzle with just your party. However, we also give you the option to sign up as an individual or small group, you can then be paired with other escape room enthusiasts! It’s a great way to meet new people. The more people you have, the easier it will be to solve puzzles and escape the room in time!</p>
				</div> <!-- cd-faq-content -->
			</li>
		 <!-- cd-faq-group -->

		<!-- <ul id="mobile" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Mobile</h2></li> -->
			<li>
				<a class="cd-faq-trigger" href="#0">What happens if my team gets stuck on a puzzle?</a>
				<div class="cd-faq-content">
					<p class="">Don’t panic! We are standing by and able to help guide you with hints to keep the process moving!</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Can I schedule a private or corporate event?</a>
				<div class="cd-faq-content">
					<p class="">Yes! Give us a call or email us at info@portalescape.net  if you have a special request or date in mind! We are happy to block out individual space for your team.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Is there a Refund Policy?</a>
				<div class="cd-faq-content">
					<p class="">We do offer a refund if you cancel your adventure 24 hours or more before your start time. We recommend that you and your team are all available and able to participate before you schedule your escape date.</p>
				</div> <!-- cd-faq-content -->
			</li>
		 <!-- cd-faq-group -->

		<!-- <ul id="account" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Account</h2></li> -->
			<li>
				<a class="cd-faq-trigger" href="#0">Can I tell other people about the puzzles in the rooms?</a>
				<div class="cd-faq-content">
					<p class="">No! You’re sworn to secrecy! Feel free to share your enthusiasm, but don’t give away the intricacies of the puzzles! We believe your friends and family will want to experience them for themselves!</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">I have an idea for a room! Can you build it?</a>
				<div class="cd-faq-content">
					<p class="">Yes! We are always looking for new concepts and would enjoy hearing your suggestions! Tell us about your idea at the facility or send us an email at info@portalescape.net</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->
	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->
</body>
</html>
